nav a {
  text-decoration: none;
  color: black !important;
}

.container {
  padding: 20px;
}

.title {
  text-align: center;
}

.project .title {
  font-weight: bold;
  text-align: left !important;
}

.btn-add-task {
  margin-top: 10px;
}

.project {
  border: solid #ccc 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px 2px #c4c4c4;
  box-shadow: 1px 1px 4px 2px #c4c4c4;
}

.cmt-desc {
  border: solid #ccc 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px 2px #c4c4c4;
  box-shadow: 1px 1px 4px 2px #c4c4c4;
}

.taskdetail{
  margin-top: 50px;
  border: solid #ccc 1px;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 4px 2px #c4c4c4;
  box-shadow: 1px 1px 4px 2px #c4c4c4;
  height: auto;

}